email=ssonaye@mdsol.com
always-auth=true
@mdsol:registry=https://mdsol.jfrog.io/artifactory/api/npm/npm-prod-virtual/
//mdsol.jfrog.io/artifactory/api/npm/npm-prod-virtual/:_password=AKCp8nHPXkE9ztotUY3nf1DzBhAWR7FMmVX2fYp1Q1LJuMRFJXumHtghYGQ1ZmKvAiYftFC5R
//mdsol.jfrog.io/artifactory/api/npm/npm-prod-virtual/:username=ssonaye
//mdsol.jfrog.io/artifactory/api/npm/npm-prod-virtual/:email=ssonaye@mdsol.com
//mdsol.jfrog.io/artifactory/api/npm/npm-prod-virtual/:always-auth=true
//mdsol.jfrog.io/artifactory/api/npm/npm-prod-virtual/:_authToken=AKCp8nHPXkE9ztotUY3nf1DzBhAWR7FMmVX2fYp1Q1LJuMRFJXumHtghYGQ1ZmKvAiYftFC5R
