.drawer_textarea {
  margin: 2em 0;
}

.drawer_textarea--multiLine .drawer_textarea__control {
  font-family: monospace;
  font-size: 12px;
}
.drawer_textarea--multiLine .drawer_textarea__highlighter {
  border: 1px solid transparent;
  padding: 9px;
  min-height: 63px;
}
.drawer_textarea--multiLine .drawer_textarea__input {
  border: 1px solid silver;
  padding: 9px;
  outline: 0;
  font-style: italic;
}
.drawer_textarea__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 12px;
}
.drawer_textarea__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.drawer_textarea__suggestions__item--focused {
  background-color: rgb(0, 112, 192);
  color: #fff;
}
.drawer_textarea__mention {
  position: relative;
  z-index: 1;
  color: rgb(0, 112, 192);
  font-style: italic;
  text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white,
    -1px -1px 1px white;
  text-decoration: none;
  pointer-events: none;
}

.drawer_textarea {
  margin: 0.5rem 0;
  height: 60px;
}